.block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

header {
    padding: 24px 0;
    background-color: #181818;;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li a {
    font: 15px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    font: 16px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}

/*- - - - - - - - - - - - - - - - */

.main_banner {
    height: calc(100vh - 82px);
    background-image: url("../images/image_ban.jpg");
    background-size: cover;
    align-items: center;
    padding-bottom: 71px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    position: relative;
}

.main_banner .container {
    max-width: 600px;
    text-align: center;
    margin-bottom: 4px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.main_banner .container h3 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner .container h1 {
    font: 54px/59px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 18px;
    margin-top: 0;
}

.main_banner .container p {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

.widget_right_bottom {
    position: absolute;
    right: 40px;
    bottom: 46px;
    display: flex;
}

.widget_right_bottom li {
    font: 12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
}

.widget_right_bottom li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -4px;
}

.widget_right_bottom li:nth-child(2):before {
    background-image: url("../images/focus.svg");
}

.widget_right_bottom li:nth-child(3):before {
    background-image: url("../images/iso.svg");
    width: 32px;
}

.widget_right_bottom li:last-of-type:before {
    background-image: url("../images/plase.svg");
    width: 10px;
}

.what_we_do {
    background-color: #000000;
    padding: 113px 0 84px;
}

.what_we_do .container {
    max-width: 1168px;
    margin: auto;
}

.what_we_do h2 {
    font: 40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.what_we_do h4 {
    font: 23px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.what_we_do .d_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what_we_do article {
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do article img {
    display: block;
    width: 100%;
}

.what_we_do article .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.what_we_do article .description h5 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.what_we_do article .description p {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom: 18px;
}

.what_we_do .read_more {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    font: 15px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    padding-right: 10px;
    align-items: center;
    text-decoration: none;

}

.what_we_do .read_more:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

/*- - - - - - - - - - - - - - - */

.portfolio1 {
    background-image: url("../images/image1.jpg");
    background-size: cover;
    min-height: 600px;
    padding-bottom: 41px;
    padding-right: 40px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.portfolio1 .container {
    max-width: 298px;
}

/*- - - - - - - - - - - -*/

.tools_use .container {
    margin: 0;
    padding: 0;
}

.tools_use .tools_text {
    background-color: black;
    width: calc(50vw);
    border: none;
    padding: 113px 60px;
    box-sizing: border-box;
}

.tools_use .tools_text article {
    padding-top: 60px;
    padding-left: 40px;
}

.tools_use .tools_text h5 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-bottom: 6px;
}

.tools_use .tools_text h2 {
    font: 28px/32px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.tools_use .tools_text p {
    font: 14px/20px 'Poppins';
    max-width: 514px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.tools_use .check_out {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    font: 16px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    padding-right: 10px;
    align-items: center;
    text-decoration: none;
}

.tools_use .check_out:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

.tools_use .tools_photo {
    background-image: url("../images/our_tools.jpg");
    background-size: cover;
    min-height: 540px;
    line-height: 0;
    width: calc(50vw);
    position: relative;
}


/*- - - - - - - - - - - -*/

.portfolio2 {
    background-image: url("../images/image2.jpg");
    background-size: cover;
    min-height: 600px;
    padding-bottom: 41px;
    padding-right: 40px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.portfolio2 .container {
    max-width: 298px;
}

/*- - - - - - - - - - - -*/

.past_client {
    background-color: black;
    padding: 120px 120px 100px;

}

.past_client h2 {
    font: 40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past_client h4 {
    font: 24px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.past_client .logo_client {
    align-items: center;
    margin-bottom: 20px;
}

.past_client .logo_client a {
    max-width: 128px;
    display: inline-block;
}

.past_client .owl-item {
    text-align: center;
}

.past_client .owl-stage {
    display: flex;
    align-items: center;
}

/*<i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>*/
.past_client .owl-nav .owl-prev {
    background-image: url("../images/left1.svg") !important;
    /*background-color: green !important;*/
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 30px;
}

.past_client .owl-nav .owl-next {
    background-image: url("../images/right1.svg") !important;
    /*background-color: green !important;*/
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 30px;
}

/*- - - - - - - - - - - -*/

.portfolio3 {
    background-image: url("../images/image3.jpg");
    background-size: cover;
    min-height: 600px;
    padding-bottom: 41px;
    padding-right: 40px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.portfolio3 .container {
    max-width: 298px;
}

.portfolio_1 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.portfolio_2 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

/*- - - - - - - - - - - -*/
.need_help {
    background-color: #000000;
    padding-top: 110px;
    padding-bottom: 110px;
    box-sizing: border-box;
}

.need_help .container {
    text-align: center;
}

.need_help h2 {
    display: inline-flex;
    font: 40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 15px;
    max-width: 571px;
}

.need_help h3 {
    font: 24px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.need_help .get_help {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    font: 16px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    padding-right: 10px;
    align-items: center;
    text-decoration: none;
}

.need_help .get_help:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

footer {
    background-color: black;
    padding: 100px 136px;
}

footer .container {
    max-width: 1168px;
    margin: auto;
    align-items: center;
}

ooter #accordion {
    max-width: 1168px;
    margin: auto;
    align-items: center;
}

footer .end_1 {
    box-sizing: border-box;
    padding-bottom: 36px;
    justify-content: space-between;
}

footer .end_1 .end_11 {
}

footer .end_1 .end_11 a img {
    margin-bottom: 20px;
}

footer .end_1 .end_11 p {
    font: 13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

footer .end_1 .end_12 .end_121 {
    width: 220px;
    margin-right: 16px;
}

footer .end_1 .end_12 .end_121 h5 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}

footer .end_1 .end_12 .end_121 a {
    display: block;
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .end_1 .end_12 .end_121:last-of-type a {
    margin-bottom: 0;
}

footer .end_1 .end_12 .end_122 {
    width: 220px;
}

footer .end_1 .end_12 .end_122 h5 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}

footer .end_1 .end_12 .end_122 a {
    display: block;
    font: 13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .end_1 .end_12 .end_122:last-of-type a {
    margin-bottom: 0;
}

footer .end_2 {
    display: flex;
    margin: auto;
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    padding: 36px 0;
    justify-content: space-between;
}

footer .end_2 .end_21 h5 {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer .end_2 .end_21 p {
    font: 13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

footer .end_2 .end_22 {
    width: 100%;
    max-width: 458px;
}

footer .end_2 .end_22 form {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 11px 6px;
    width: 100%;
}

footer .end_2 .end_22 form input {
    width: 75%;
    display: inline-block;
    border: none;
    background-color: transparent;
}

footer .end_2 .end_22 form button {
    border: none;
    background: #000000;
    border-radius: 11px;
    height: 30px;
    width: 63px;
}

footer .end_3 {
    padding-top: 56px;
    justify-content: space-between;
}

footer .end_3 p {
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

footer .end_3 {
    display: flex;
}

footer .end_3 {
    margin-left: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active, .ui-widget-content{
    background-color: transparent;
    border: none;
}